@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.home-blog-container{
    background-color: rgba(232, 193, 197, 0.2);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    filter: drop-shadow(2px 4px  8px #dcd8d8);
    
}

.theH1{
    position: relative;
    font-weight: normal !important;
    
    /* color: rgb(147, 142, 142); */
    /* font-family: 'pacifio', cursive  !important; */
}

.theH1:before{
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    width: 300px;
    top: 20px;
    z-index: -2;
    left: 0;
    
}

.theH1:after{
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    width: 300px;
    top: 20px;
    z-index: -2;
    right: 0;
    
}

.theH1 span{
    padding: 10px;
    background-color: #fff;
}

.sec-col{
    padding-top: 84px;
}

.trending-head{
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.trending-head:before{
    content: "";
    display: block;
    margin-left: 30px;

    height: 2px;
    background-color: #000;
    position: absolute;
    width: 110px;
    top: 15px;
    z-index: -2;
    left: 0;
}

.trending-head:after{
    
    content: "";
    margin-right: 30px;
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    width: 110px;
    top: 15px;
    z-index: -2;
    right: 0;
}

.recent-container{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.trending-head span{
    padding: 10px;
    background-color: #fff;
}

.recent_title_link:hover{
    cursor: pointer !important;
    color: #ef9b8e !important;
}

.recent_header_link:hover{
    color: #ef9b8e !important;
}